html {
  scroll-behavior: smooth;
}
/* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
header {
  display: flex;
  justify-content: flex-end;
}

.icon{
  display:flex;
}
.gitIcon{
  margin-top:3px;
  height: 3.95vw;
  width: 3.95vw;
}
.Linkedln{
  margin-left: 2px;
  height: 4.4vw;
  width: 4.4vw;
}

#codewars{
  border-radius: 30px;
  margin-top: 2px;
  height: 4vw;
  width: 4vw;
}



header>a:hover{
  animation: .5s rotation ease-in-out forwards
}
  @keyframes rotation {
  0%{
  transform: rotate(0deg);
  }
  25%{
  transform: rotate(15deg);
  }
  75%{
  transform: rotate(-25deg);
  }
  100%{
  transform: rotate(0deg);
  }
}


.title-portfolio {
  border: solid rgb(207, 208, 209); 
  box-shadow:  0px 10px 30px rgb(109, 111, 113);
  border-radius: 10px; 
  background-image: url("images/27476.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.title-portfolio__main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  -webkit-text-stroke: 3px black;
  font-family: 'Titillium Web', sans-serif;
  color: transparent
}

.title-portfolio__main {
  animation: 3s ultra-title ease-out ;
}
@keyframes ultra-title {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#profile{
  width: 15vw;
  position: relative;
  left: 30px;
  margin-left: 1%;
  margin-right: 1%;
  clip-path: circle(44% at center);
} 

.options-container__container-buttons{
  display: flex;
  position: relative;
  bottom: 7vw;
  margin-left: 10%;
  justify-content: space-evenly;
}

.description-buttons{
  font-size: 2.5vw;
  font-family: 'Titillium Web', sans-serif;
    padding: 5%;
    padding-left: 0%;
    padding-right: 0%;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

  .description-buttons:after {
  content: "";
  display: block;
  margin: auto;
  width: 0px;
  height: .22vw;
  background: #333;
  transition: all .3s ; 
  }
  
  .description-buttons:hover:after {
    width: 100%;
  }

a{
  text-decoration: none;
  color: black
}
.content{
  display: none;
   margin-top: -80px; 

}

.content {
  animation: 1s paragraphs ease-out ;
}

@keyframes paragraphs {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }
  20% {
    opacity: 20%;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.content.active {
  display: block;
  margin-top: -11%;
}

.fa-ul{
  display: flex;
  justify-content:space-around;
  font-size:2vw;
  font-family: 'Fira Sans', sans-serif;
}


 p{
   display: flex;
   font-size: min(200px, 1.5vw);
   font-family: 'Fira Sans', sans-serif;
   text-align: center;
   justify-content:center;
 }

 .who {
   display: flex;
   padding: 5%;
   margin: 0%;
   flex-direction: flex-end;
   align-items: center;
   line-height: 1.6;
 }


.selfDescription{
    border: dashed .3vw  black;
     padding: 2%;
     display: flex;
     /* margin-bottom:30px; */
    /* width: 600px; */ 
    /* width: clamp(900px, 80vw, 1200px); */
}
.selfDescription > p{
     padding: 0%;
     margin: 3%;
     text-align: justify;
    /* width: 600px; */ */
    /* width: clamp(900px, 80vw, 1200px); */
}

.p1,.p2,.p3{
  font-size:1.5vw;
  width:100%

}
.close{
  position: relative;
  left: 93.6%;  
  top: 5.92vw;
   color: red;
  background-color: transparent;
  background-clip: padding-box; 
  /* border-radius: 70%; */

}

.close-int{
  position: relative;
   left: 99%;  
   bottom: 1.9vw;  
   color: red; 
   background-color: transparent;
  background-clip: padding-box; 
  /* border-radius: 70%; */

}
.fa-circle-xmark{
  font-size:2.6vw;
  cursor:pointer;
}

#experience{
 border: .3vw dashed black;
 padding: 0%;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -3%;
  
}
#experience > .order-Icons{
  padding: 0%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  margin-top: -10px;
}
.fa-ul{

margin-left:8%;
}

#interests{
  margin: 3%;
  border: .3vw  dashed black;

}
.section-Technologies{
  font-size:2.0vw;
  padding: 3vw;
  /* margin:1.5%; */
  /* margin-top: 800vw; */
  font-family:'Fira Sans', sans-serif;
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.icons{
  height: 7%;
  width: 7%;
}
.section-Technologies > img:hover{
  animation:icons-tech .8s forwards
}
@keyframes icons-tech {
 100%{
   transform: scale(1.3);
 }
}

.container-proyects{
  margin-top:30px; 
   /* border: 2px solid black; */
   border-radius: 10px;
   border: solid rgb(207, 208, 209); 
   box-shadow:  0px 10px 30px rgb(109, 111, 113); 
   background-image: url("images/geometric-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.SectionButton {
  margin: 1%;
  display: flex;
  justify-content: space-around;
  margin-top: 4%
}

.projects-grid {
  display: grid;
  align-content: center;
  grid-template-rows: auto;
  grid-template-areas: 
      " . . navbar-P navbar-P navbar-P navbar-P navbar-P navbar-P  "
      " . . navbar-P navbar-P navbar-P navbar-P navbar-P navbar-P  "
      "  project1 project1 project1 . . project2 project2 project2  "
      "  project3 project3 project3 . .  project4 project4 project4  ";
}

.navbar-P {
  display: flex;
  font-size:4vw;
  -webkit-text-stroke: 2px black;
  color: white;
  font-family: 'Titillium Web', sans-serif;;
  padding: 1px;
  justify-content: space-evenly;
  grid-area: navbar-P;
  margin-top: 6%

}

.navbar-P:before {
  /* content:'' ; */
    display: flex;
    font-size:2vw;
    font-family: 'Fira Sans', sans-serif;
    padding: 1px;
    justify-content: space-evenly;
    grid-area: navbar-P;
    border-top: 4px solid black;
}

.project1{
  grid-area: project1;
}
.project2{
  grid-area: project2;
}
.project3{
  grid-area: project3;
}
.project4{
  grid-area: project4;
}
.project1, .project2, .project3, .project4{
  font-size:2vw;
  border: solid .22vw black;
  margin: 2vw;
  padding: 1px;
  border-radius: 22px;
  font-family: 'Titillium Web', sans-serif;
}

.img-project1, .img-project2, .img-project3, .img-project4{
   width: 100%;
   height: 90%;
   object-fit: cover;
   border-radius: 0 0 21px 21px;
   box-shadow: 8px 6px 8px black;
}

.filter-buttons {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125%;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1.1vw 2vw;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
}

.text-muted {
  font-size: 12px;
  position: absolute;
  bottom: -12px;
  right: -175px;
  display: none;
}

.filter-buttons:not(:disabled):hover:active {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.filter-buttons:focus {
  outline: 0 solid transparent;
}

.tooltipColors{
  position:relative;
}
.tooltipColors:hover:before,
.tooltipColors:hover:after{
  position:absolute;
  content: attr(data-color);
  top: -3.4rem;
  right: -1700%;
  width: max-content;
  border-radius: .3rem;
  border: 3.5px solid black;
  padding:.3em;
  background-color:white;
  /* transform: translateX(-10%) translateY(-100%) scale:0; */
  /* transition: 150ms transform; */
  transform-origin: bottom center;
}
.tooltipColors:hover:after {
  content: '';
   top: -.11rem;
   right: -4px;
   padding:0px;
   width: 0;
   height: 0;
   border-width: 20px;
   border-color: transparent;
   border-top-color: white;
   background-color:transparent
}
.randomAPI{
  position:relative;
}
.randomAPI:hover:before,
.randomAPI:hover:after{
  position:absolute;
  content: attr(data-randomapi);
  top: -3.0rem;
  left: -600%;
  width: max-content;
  border-radius: .3rem;
  border: 3.5px solid black;
   padding:.2em;
  background-color:white;
  transform-origin: bottom center;
}

.randomAPI:hover:after {
  content: '';
   top: -.11rem;
   left: -10%;
   padding:0;
   width: 0;
   height: 0;
   border-width: 20px;
   border-color: transparent;
   border-top-color: white;
   background-color:transparent

}

.breadShop{
  position:relative;
}
.breadShop:hover:before,
.breadShop:hover:after{
  position:absolute;
  content: attr(data-randomapi);
  top: -3.0rem;
  left: -900%;
  width: max-content;
  border-radius: .3rem;
  border: 3.5px solid black;
   padding:.2em;
  background-color:white;
  transform-origin: bottom center;
}

.breadShop:hover:after {
  content: '';
   top: -.11rem;
   left: -10%;
   padding:0;
   width: 0;
   height: 0;
   border-width: 20px;
   border-color: transparent;
   border-top-color: white;
   background-color:transparent

}


/* .test{
  height: 400px;
  width: 500px;
  border: solid black;
  display:flex;
  flex-direction: column;
  /* object-fit: fill; */


/* .img3{
  border: solid red;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  /* object-fit: scale-down; */
  /* object-fit: cover;*/ 